<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul class="<%= category.title %>">
      <% category.tasks.each do |task|  %>
      <div class="d-flex justify-content-between" id="task_<%= task.id%>">
      <li style="list-style: none; margin-left: -20px;" class="<%= task.is_done? ? 'task-end' : '' %>">
        <%= check_box_tag :status, 1, task.status , class:"mr-2", 
            data: { remote: true, url: task_path(task), 
            params: { id: task.id, status: task.status }.to_param, method: "PATCH" }%>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <div class="">
        <a href="<%= edit_task_path(task) %>"><i class="fas fa-pencil-alt text-success mr-2"></i></a>
         <a href="<%= task_path(task.id) %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
      </div>

      </div>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
