<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Welcome" %>
</head>
<body>

  <!-- Header Landing Page -->
  <section id="welcome-section" class="py-5 mb-5">
    <div class="dark-overlay">
        <div class="welcome-inner container align-middle">
            <div class="row flex-column text-center">
                <h1 id="welcome-text"  class="display-2">Welcome To Our Project</h1>
                <p class="lead">We make the life become more meaningful, hapiness.</p>
            <a class="btn btn-primary btn-lg m-auto" href="#line-welcome" role="button">Learn more >> </a>
            </div>
        </div>
    </div>
  
  </section>
   <hr class="p-0 m-0" id="line-welcome">


<section class="blog-listing gray-bg">
        <div class="container">
         <h1>Welcome <%= @first_name %> </h1>
          <h4 class="mt-2">Here is the list gossips of all Moussaillons at THP</h4><br>
          <div class="row">
          <% @gossips.each do |gossip| %>
          <!-- Card Gossip -->
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="blog-grid">
                      <div class="blog-img">
                          <div class="blog-card-user-name">
                            <a href="<%= user_path(gossip.user.id)%>" >
                              <i class="fas fa-user"></i> <span><%= gossip.user.first_name %></span>
                            </a>
                          </div>
                          <div class="blog-img-heading">
                              <span><small>Created at: <%= gossip.created_at %></small></span>
                              <span><small>Updated at: <%= gossip.updated_at %></small></span>
                          </div>
                      </div>
                      <div class="blog-info">
                          <h5><a href="<%= gossip_path(gossip.id) %>"><%= gossip.title %></a></h5>
                          <p class=""><%= truncate(gossip.content, :length => 200) %></p>
                          <div class="btn-bar">
                             <% gossip.gossip_tags do |tag|%>
                                <span class="card-tag">
                                  tag
                                </span>
                             <% end %>
                          </div>
                      </div>
                  </div>
              </div>
          <!-- End Card Gossip -->
      <% end %>


          </div>
      </div>
    </section>

  <script>
  let colors = ['#E6E6FA', '#FFF0F5', '#87CEFA','#FFB6C1','#FFA07A','#B0C4DE', '#66CDAA','#D3D3D3'];
  
  cards = document.getElementsByClassName("blog-img");
   Array.from(cards).forEach( ca => {
     let random_color = colors[Math.floor(Math.random() * colors.length)];
     ca.style.background = random_color;
   })

  </script>


</body>

</html>