      <div class="d-flex justify-content-between" id="task_<%= task.id%>">
      <li style="list-style: none; margin-left: -20px;">
        <%= check_box_tag :name, 1, false , class:"mr-2", data: { remote: true, url: edit_task_path(task), params: { id: task.id, status: false }.to_param, method: "put" }%>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <div class="">
        <a href="<%= edit_task_path(task) %>"><i class="fas fa-pencil-alt text-success mr-2"></i></a>
         <a href="<%= task_path(task.id) %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt text-danger mr-2"></i></a>
      </div>

      </div>